:root {
  --background-color: #A6F8FF;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100vh;
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 2px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 2px, transparent 1px);
  background-color: var(--background-color);
}

#editor, #preview {
  min-height: 200px;
  outline: none;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0 #000000;
  resize: vertical;
}

#editor {
  width: 600px;
  max-width: 600px;
  padding: 8px;
}

#preview {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 800px;
  max-width: 800px;
  padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 2px;
  margin-bottom: 20px;
}

h1 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}